<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8">
        <title>Counter</title>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
        <div class="container">
            <center>
                <h1 id="compteur"></h1>
                <button id="incrBtn" class="btn btn-primary btn-large">1 click = 1 cookie!</button>
                <p id="timestamp">Last update: <span id="lastupdate">not updated yet</span></p>
            </center>
        </div>
        <script type="text/javascript">
            var incrBtn = document.getElementById("incrBtn")
            compteur    = document.getElementById("compteur")
            lastupdate  = document.getElementById("lastupdate")
            socket      = io.connect("http://localhost:25000") // andress and port of your Node.js server.

            socket.on('updateval', function (data) {
                compteur.innerHTML = data.val
            });

            socket.on('updatetime', function (data) {
                lastupdate.innerHTML = new Date(data.timestamp).toUTCString()
            });

            incrBtn.addEventListener("click", function (event) {
                // To prevent click from code. Of course you can remove it since the goal of Node.js is to build scalable applications; so you can trigger a big amount of times the button with some magic code.
                if (event.screenX != 0 && event.screenY != 0) {
                    compteur.innerHTML = parseInt(compteur.innerHTML)+1
                    socket.emit('incr', null)
                } else { 
                    console.log("Cheating is bad.")
                }
            });
        </script>
    </body>
</html>